services:
  # --- BACKEND ---
  dragons-api:
    container_name: dragons-api
    build:
      context: ./Dragons.Api
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    networks:
      - dragons-network

  # --- FRONTEND ---
  dragons-web:
    container_name: dragons-web
    build:
      context: ./Dragons.Web
      dockerfile: Dockerfile
    ports:
      # Mappe le port 4200 de ton PC vers le port 80 du conteneur
      - "4200:80"
    depends_on:
      - dragons-api
    networks:
      - dragons-network

networks:
  dragons-network:
    driver: bridge
