// styles.scss (global)

/* Reset global pour éviter tout débordement */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #fdfaf6;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

html {
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE/Edge

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}

/* Optionnel : Police pour le style Eana si tu as accès à Google Fonts */
h1, h2, h3, h4, .brand {
  font-family: 'Cinzel', serif;
}
